OPENAI_API_KEY=sk-your-api-key-here
PORT=ur_port



DB_USER=db_user
DB_HOST=db_host_link
DB_NAME=ur_db_name
DB_PASSWORD=ur_db_password
DB_PORT=ur_db_port

JWT_SECRET=supersecretkey

CLOUDINARY_CLOUD_NAME=your_name
CLOUDINARY_API_KEY=your_key
CLOUDINARY_API_SECRET=your_secret

EMAIL_USER=app_gmail_id
EMAIL_PASS=gmail_app_password
BASE_URL=ur_base_url_for_resetlink

JWT_SECRET=jwt_secret
JWT_REFRESH_SECRET=refresh_secret

